---
import BaseHead from "../components/BaseHead.astro"
import { getIntegrations } from "../get-integrations.ts"

const integrations = await getIntegrations()
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body style="padding: 1rem">
    <h1>Astro Integrations List</h1>
    <p>
      A list of all <a href="https://astro.build/integrations" target="_blank">Astro integrations</a>, sorted by
      downloads.
    </p>
    <ol>
      {
        integrations.map((integration) => (
          <li>
            <a href={integration.link} target="_blank">
              {integration.name}
            </a>
            <span>| {integration.downloadsText} downloads</span>
            <p>{integration.description}</p>
          </li>
        ))
      }
    </ol>
  </body>
</html>
